name: Development

on:
  branch_protection_rule:
    types:
      - created
      - edited
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

env:
  SCONE_REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
  SCONE_REGISTRY_EMAIL: ${{ secrets.REGISTRY_EMAIL }}
  SCONE_REGISTRY_ACCESS_TOKEN: ${{ secrets.REGISTRY_ACCESS_TOKEN }}
  DEMO_REGISTRY_USERNAME: ${{ secrets.REGISTRY_USERNAME }}
  DEMO_REGISTRY_EMAIL: ${{ secrets.REGISTRY_EMAIL }}
  DEMO_REGISTRY_ACCESS_TOKEN: ${{ secrets.REGISTRY_ACCESS_TOKEN }}
  DEMO_REGISTRY: registry.scontain.com
  DEMO_DCAP_API: ${{ secrets.DCAP_API }}
  DEMO_CONTAINERIZED_CLUSTER_NAME: demo-cluster
  REPO: registry.scontain.com/cicd/tabajara
  CAS_NAMESPACE: scone-system

jobs:
  run-java-demo:
    name: Run the Java App Demo
    runs-on: self-hosted
    container:
      credentials:
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.INTEGRATION_REGISTRY_TOKEN }}
      image: registry.scontain.com/cicd/tabajara/ci-docker-demo:23.0-dind-r1
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
    steps:
      - uses: actions/checkout
      - run: ./start-cluster.sh
        shell: bash
      - run: ./run.sh -i $REPO --release javaapp -v
        shell: bash
      - run: ./stop-cluster.sh
        shell: bash
      - if: always()
        uses: ./.github/actions/clean-up-docker
